:root{
	--primary-color-concept:#193c37;
	--secondary-color-concept:#343738;
	--third-color-concept:#3C3C3B;
	--fourth-color-concept:#607973;
}
body{
	font-family: "Avenir Next LT Pro";
	font-size: 13px;
}
.navbar-concept{
	margin-top: -58px
}
.navbar-concept .navbar-collapse .navbar-nav{
	border-bottom: solid 1px var(--primary-color-concept);
}
.navbar-concept .nav-item .nav-link {
    color: var(--primary-color-concept);
    padding: 0 26px 3px 26px;
    margin-bottom: -2px;
	font-size: 14px;
}
.navbar-concept .nav-item .nav-link:hover, .navbar-concept .nav-item .nav-link:hover, .nav-item .nav-link.active{
	font-weight: 600;
}
.navbar-concept .nav-item .nav-link::after {
    content: " ";
    width: 8px;
    height: 8px;
    background-color: var(--primary-color-concept);
    border-radius: 50px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
}
.navbar-concept .nav-item:last-child .nav-link {
	cursor: default;
}
.navbar-concept .nav-item:last-child .nav-link::after {
  width: 28px;
  height: 28px;
  top:19px;
	cursor: default;
}
.input-group-custom .form-control{
	border-color: var(--primary-color-concept);
	box-shadow: none;
	border-radius: 50px;
	color: var(--primary-color-concept);
}
/*
.input-group-custom .form-control:focus{
	border-radius: 50px;
	border-color: var(--primary-color-concept);
}
*/
.input-group-text-custom {
    position: absolute;
    top: 0;
    right: 4px;
    border-left: solid 1px var(--primary-color-concept);
    padding: 0 5px;
    margin: 4px 0;
}
.social-links {
    color: var(--primary-color-concept);
    border: solid 1px var(--primary-color-concept);
    border-radius: 50px;
    width: 28px;
    height: 28px;
    display: inline-block;
    text-align: center;
	line-height: 28px;
}
.border-toppage {
    border-top: solid 5px var(--primary-color-concept);
}
.header-logo {
    width: 150px;
    position: relative;
    z-index: 9;
}
.banner-text {
    color: #fff;
    z-index: 9;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
}
.custom-dropdown {
    background-color: var(--fourth-color-concept);
}
.custom-dropdown .dropdown-item:hover, .custom-dropdown .dropdown-item:focus{
	background-color: var(--primary-color-concept);
}
.custom-dropdown .dropdown-item.active, .custom-dropdown .dropdown-item:active {
    background-color: var(--bs-dropdown-link-hover-bg);
}
.dropdown-menu-arrow-caret {
		top: -25px;
		left: 38%;
		width: 0;
		height: 0;
		position: relative;
	display: none;
	  }
	  .dropdown-menu-arrow-caret:before,
	  .dropdown-menu-arrow-caret:after {
		content: "";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-width: 11px 12px;
		border-style: solid;
		border-color: transparent;
		z-index: 1001;
	  }
	  .dropdown-menu-arrow-caret:after {
		bottom: -18px;
		right: -8px;
		border-bottom-color: var(--primary-color-concept);
	  }
	  .dropdown-menu-arrow-caret:before {
		bottom: -17px;
		right: -8px;
		border-bottom-color: rgba(0,0,0,.15);
	  }
.fs-0{
	font-size: 0;
}
.banner h3{
	font-weight: 600;
	font-size: 34px;
}
.banner h6{
	font-weight: 300;
	font-size: 22px;
}
.introduction{
	color: var(--third-color-concept);
}
.fw-600{
	font-weight: 600;
}

.middle-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9;
	text-align: center;
	width: 100%;
	color: #fff;
}
.gallery{
	overflow: hidden;
}
.gallery img{
	width: 100%;
}
.gallery .col{
	padding: 0;
}
.ourworks{
	background-color: #A5BCB6;
	min-height: 324px;
}
.ourworks2{
	background-color: #607973;
	min-height: 56px;
}
.custom-cards{
	border-radius: 0;
	border-color: #607973;
}
.dummy-cardbg{
	background-color: #A5BCB6;
	min-height: 200px;
}
.custom-cards .card-title{
	font-weight: 600;
}
.btn-cards {
    background-color: #607973;
    border-radius: 0;
    border: none;
    width: 100%;
    font-size: 1.13rem;
}
.btn-cards:focus, .btn-cards:hover {
    background-color: var(--primary-color-concept);;
}
.btn-cards.btn-check:checked+.btn, .btn-cards.btn.active, .btn-cards.btn.show, .btn-cards.btn:first-child:active, :not(.btn-cards)+.btn-cards.btn:active{
	background-color: #607973;
}
.slider-concept .carousel-item{
	text-align: center;
}
.slider-concept .carousel-item img {
    max-width: 25%;
}
.slider-concept  .carousel-control-next, .slider-concept  .carousel-control-prev {
    color: var(--primary-color-concept);
	opacity: 1;
/*
    opacity: .5;
    transition: opacity .15s ease;
*/
}
.slider-concept .carousel-control-next .bi, .slider-concept .carousel-control-prev .bi {
    border: solid 1px var(--primary-color-concept);
    font-size: 26px;
    width: 39px;
    height: 39px;
}
.slider-concept2 {
    padding: 0 15%;
}
.signuptext{
	color: var(--primary-color-concept);
}
.custom-input-subscribe{
	width: 60%;
	border-radius: 0;
	border-color: var(--primary-color-concept);
}
.custom-input-subscribe:focus{
	box-shadow: none;
}
.btn-subscribe {
    width: unset;
    padding: 9px 14px;
    font-size: 13px;
    margin-top: -4px;
    margin-left: -5px;
}
.btn-subscribe:hover, .btn-subscribe:focus{
	background-color: var(--primary-color-concept);
}
.footer{
	background-color: var(--primary-color-concept);
}
.footer .str-nav .nav-item {
border-left: solid 1px #fff;
}
.footer .nav-item .nav-link{
	color: #fff;
}
.footer .nav-item .nav-link .bi {
    font-size: 5px;
    vertical-align: middle;
    margin-left: -19px;
}
.logo-w{
	width: 200px;
}
.footer svg{
	width: 30px;
}
.social-linkx a{
	color: inherit;
}
.terms-nav .nav-item{
	border-right: solid 1px #fff;
}
.terms-nav .nav-item:last-child{
	border-right: none;
}
.terms-nav .nav-item .nav-link {
    padding: 0 18px;
}
.client-box{
/*	width: 60px;*/
	height: 60px;
	background-color: var(--fourth-color-concept);
	margin: 0 10px;
}
.py-sm-ed{
		padding: 0 100px;
	}
.news{
	min-height: 200px;
	background-color: var(--fourth-color-concept);
}
.bg-grey{
	background-color: #F3F3F3;
}
.hello-form {
    background-color: var(--primary-color-concept);
    display: flex;
    padding: 30px;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* text-align: left; */
    /* width: 100%; */
}
.hello-form .form-label{
	color: #fff;
	margin-bottom: 0;
}
.hello-form .form-control {
    background-color: transparent;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0;
    border-bottom-color: var(--fourth-color-concept);
	color: #fff;
}
.hello-form .form-control:focus{
	box-shadow: none;
}
.textareas{
	border: none;
	background-color: var(--fourth-color-concept) !important;
	resize: none;
	height: 70px;
}
.gl-lg-items {
    background-color: #E3E3E3;
    max-width: 150px;
    display: inline-block;
    text-align: left;
}
.gl-lg-items h1{
	font-size: 6rem;
}
@media screen and (max-width: 1200px) {
.navbar-concept .nav-item .nav-link {
    padding: 0 15px 3px 15px;
}
}
@media screen and (max-width: 991px) {
.navbar-concept .nav-item .nav-link {
    padding: 8px 0;
    margin-bottom: 0;
}
	.navbar-concept .nav-item .nav-link::after {
		display: none;
	}
	.navbar-concept .navbar-collapse .navbar-nav{
	border-bottom: none;
}
	.d-none-676{
		display: none;
	}
	
}
@media screen and (max-width: 767px) {
.navbar-concept {
    margin-top: -30px;
}
	.h5, h5 {
    font-size: 0.8rem;
}
	.banner h6 {
    font-size: 17px;
}
	.banner h3 {
    font-size: 24px;
}
	.h4, h4 {
    font-size: 19px;
}
	.btn-subscribe {
    margin-top: -2px;
		margin-left: -5px;
}
.custom-input-subscribe {
    width: 50%;
    font-size: 11px;
    padding: 9px 5px;
}
	.text-left-m{
		text-align: left !important;
	}
	.client-box{
	width: 30px;
	height: 30px;
}
/*
	.py-sm-ed{
		padding: 0 50px;
	}
*/
	.text-center-m{
		text-align: center;
	}
/*
	.d-none-676{
		display: none;
	}
*/
	.gl-lg-items h1{
	font-size: 3rem;
}
	.gl-lg-items {
    min-width: 150px;
}
}
@media screen and (max-width: 372px) {
	.search-text{
		width: 50% !important;
	}
.input-group-custom .form-control {
    font-size: 11px;
}
	.social-links {
    width: 23px;
    height: 23px;
    line-height: 25px;
    margin-right: 0 !important;
}
	.search-text-end{
		text-align: center !important;
	}
}