:root{
	--primary-color-concept:#193c37;
	--secondary-color-concept:#343738;
	--third-color-concept:#3C3C3B;
	--fourth-color-concept:#607973;
}
html{
	overflow-x: hidden;
	overflow-y: scroll;
}
body{
	font-family: "Avenir Next LT Pro";
	font-size: 13px;
}
.navbar-concept{
	margin-top: -58px
}
.navbar-concept .navbar-collapse .navbar-nav{
	border-bottom: solid 1px var(--primary-color-concept);
}
.navbar-concept .nav-item .nav-link {
    color: var(--primary-color-concept);
    /* padding: 0 26px 3px 26px; */
	padding:0 50px 3px 50px;
    margin-bottom: -2px;
	font-size: 14px;
}
.navbar-concept .nav-item .nav-link:hover, .navbar-concept .nav-item .nav-link:hover, .nav-item .nav-link.active{
	font-weight: 600;
}
.navbar-concept .nav-item .nav-link::after {
    content: " ";
    width: 8px;
    height: 8px;
    background-color: var(--primary-color-concept);
    border-radius: 50px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
}
.navbar-concept .nav-item:last-child .nav-link {
	cursor: default;
}
.navbar-concept .nav-item:last-child .nav-link::after {
  width: 28px;
  height: 28px;
  top:19px;
	cursor: default;
}
.input-group-custom .form-control{
	border-color: var(--primary-color-concept);
	box-shadow: none;
	border-radius: 50px;
	color: var(--primary-color-concept);
}
/*
.input-group-custom .form-control:focus{
	border-radius: 50px;
	border-color: var(--primary-color-concept);
}
*/
.input-group-text-custom {
    position: absolute;
    top: 0;
    right: 4px;
    border-left: solid 1px var(--primary-color-concept);
    padding: 0 5px;
    margin: 4px 0;
}
.social-links {
    color: var(--primary-color-concept);
    border: solid 1px var(--primary-color-concept);
    border-radius: 50px;
    width: 28px;
    height: 28px;
    display: inline-block;
    text-align: center;
	line-height: 28px;
}
.border-toppage {
    border-top: solid 5px var(--primary-color-concept);
}
.header-logo {
    width: 150px;
    position: relative;
    z-index: 99;
}
.banner-text {
    color: #fff;
    z-index: 9;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
}
.custom-dropdown {
    background-color: var(--fourth-color-concept);
	border-radius: 0;
}
.custom-dropdown .dropdown-item:hover, .custom-dropdown .dropdown-item:focus{
	background-color: var(--primary-color-concept);
}
.custom-dropdown .dropdown-item.active, .custom-dropdown .dropdown-item:active {
    background-color: var(--bs-dropdown-link-hover-bg);
}
.dropdown-menu-arrow-caret {
		top: -25px;
		left: 38%;
		width: 0;
		height: 0;
		position: relative;
	display: none;
	  }
	  .dropdown-menu-arrow-caret:before,
	  .dropdown-menu-arrow-caret:after {
		content: "";
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-width: 11px 12px;
		border-style: solid;
		border-color: transparent;
		z-index: 1001;
	  }
	  .dropdown-menu-arrow-caret:after {
		bottom: -18px;
		right: -8px;
		border-bottom-color: var(--primary-color-concept);
	  }
	  .dropdown-menu-arrow-caret:before {
		bottom: -17px;
		right: -8px;
		border-bottom-color: rgba(0,0,0,.15);
	  }
.fs-0{
	font-size: 0;
}
.banner h3{
	font-weight: 600;
	font-size: 34px;
}
.banner h6{
	font-weight: 300;
	font-size: 22px;
}
.introduction{
	color: var(--third-color-concept);
}
.fw-600{
	font-weight: 600;
}

.gallery{
	overflow: hidden;
}
.gallery img{
	width: 100%;
}
.gallery .col{
	padding: 0;
}
.ourworks{
	background-color: #A5BCB6;
	min-height: 324px;
}
.ourworks2{
	background-color: #607973;
	min-height: 56px;
}
.custom-cards{
	border-radius: 0;
	border-color: #607973;
}
.dummy-cardbg{
	background-color: #A5BCB6;
	min-height: 200px;
}
.custom-cards .card-title{
	font-weight: 600;
}
.btn-cards {
    background-color: #607973;
    border-radius: 0;
    border: none;
    width: 100%;
    font-size: 1.13rem;
}
.standalone-btn{
	width: 23%;
	background-color: var(--primary-color-concept);
}
.btn-cards:focus, .btn-cards:hover {
    background-color: var(--primary-color-concept);
}
.btn-cards.btn-check:checked+.btn, .btn-cards.btn.active, .btn-cards.btn.show, .btn-cards.btn:first-child:active, :not(.btn-cards)+.btn-cards.btn:active{
	background-color: #607973;
}
.slider-concept .carousel-item{
	text-align: center;
}
.slider-concept .carousel-item img {
    max-width: 25%;
}
.slider-concept  .carousel-control-next, .slider-concept  .carousel-control-prev {
    color: var(--primary-color-concept);
	opacity: 1;
/*
    opacity: .5;
    transition: opacity .15s ease;
*/
}
.slider-concept .carousel-control-next .bi, .slider-concept .carousel-control-prev .bi {
    border: solid 1px var(--primary-color-concept);
    font-size: 26px;
    width: 39px;
    height: 39px;
}
.slider-concept2 {
    padding: 0 15%;
}
.signuptext{
	color: var(--primary-color-concept);
}
.custom-input-subscribe{
	width: 60%;
	border-radius: 0;
	border-color: var(--primary-color-concept);
}
.custom-input-subscribe:focus{
	box-shadow: none;
}
.btn-subscribe {
    width: unset;
    padding: 9px 14px;
    font-size: 13px;
    margin-top: -4px;
    margin-left: -5px;
}
.btn-subscribe:hover, .btn-subscribe:focus{
	background-color: var(--primary-color-concept);
}
.footer{
	background-color: var(--primary-color-concept);
}
.footer .str-nav .nav-item {
border-left: solid 1px #fff;
}
.footer .nav-item .nav-link{
	color: #fff;
}
.footer .nav-item .nav-link .bi {
    font-size: 5px;
    vertical-align: middle;
    margin-left: -19px;
}
.logo-w{
	width: 200px;
}
.footer svg{
	width: 30px;
}
.social-linkx a{
	color: inherit;
}
.terms-nav .nav-item{
	border-right: solid 1px #fff;
}
.terms-nav .nav-item:last-child{
	border-right: none;
}
.terms-nav .nav-item .nav-link {
    padding: 0 18px;
}
.client-box{
/*	width: 60px;*/
	height: 60px;
	background-color: var(--fourth-color-concept);
	margin: 0 10px;
}
.py-sm-ed{
		padding: 0 100px;
	}
.news{
	min-height: 200px;
	background-color: var(--fourth-color-concept);
}
.bg-grey{
	background-color: #F3F3F3;
}
.hello-form {
    background-color: var(--primary-color-concept);
    display: flex;
    padding: 50px 30px 30px 30px;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    align-items: start;
    /* justify-content: center; */
    /* text-align: left; */
    /* width: 100%; */
}
.hello-form .form-label{
	color: #fff;
	margin-bottom: 0;
}
.hello-form .form-control {
    background-color: transparent;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0;
    border-bottom-color: var(--fourth-color-concept);
	color: #fff;
}
.hello-form .form-control:focus{
	box-shadow: none;
}
.textareas{
	border: none;
	background-color: var(--fourth-color-concept) !important;
	resize: none;
	height: 150px;
}
.gl-lg-items {
    background-color: #E3E3E3;
    max-width: 150px;
    display: inline-block;
    text-align: left;
}
.gl-lg-items h1{
	font-size: 6rem;
}
.fill-w{
	background-color: var(--fourth-color-concept);
	height: 100%;
	width: 100%;
}
.gl-ex-panel{
	position: relative;
	padding: 28.5% 0;
}
.grids{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.5vw;
	font-weight: 600;
	background-repeat: no-repeat;
	background-size: 100%;
	flex-direction: column;
	/* cursor: pointer; */
}
.grid-1 {
    left: 0;
    top: 0;
    width: 40.90%;
    height: 54.10%;
    background-image: url("../img/gl-1.jpg");
}
.grid-2 {
    left: 0;
    top: 54.10%;
    width: 40.90%;
    height: 45.90%;
    background-image: url("../img/gl-2.jpg");
}
.grid-3 {
    left: 40.90%;
    top: 0;
    width: 27.20%;
    height: 64.70%;
    background-color: #a6bdb7;
}
.grid-4 {
    left: 40.90%;
    top: 64.70%;
    width: 27.30%;
    height: 35.30%;
    background-image: url("../img/gl-3.jpg");
}
.grid-5 {
    right: 0%;
    top: 0%;
    width: 31.90%;
    height: 26.30%;
    background-image: url("../img/gl-4.jpg");
}
.grid-6 {
    right: 0%;
    top: 26.20%;
    width: 31.90%;
    height: 51.10%;
    background-image: url("../img/gl-5.jpg");
}
.grid-7 {
    right: 0%;
    bottom: 0%;
    width: 31.90%;
    height: 22.80%;
    background-color: #607973;
}
.middle-text {
	font-weight: 300;
	color: #101010;
	font-size: 2vw;
}
.middle-text small{
	font-size: 1.3vw;
}
.middle-text2 {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 99;
    color: #fff;
    font-weight: 600;
    width: 100%;
    transform: translateY(-50%);
}
.grid-body{
	display: none;
}
.grid-body small{
	font-size: 14px;
	font-weight: 300;
}
.grid-body small a{
	font-weight: 600;
}
.slider-concept-logos .carousel-item img {
    max-width: 44%;
}
.d-block-676{
	display: none;
}
.custom-cards .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.interior-grid .grid-1{
	/* background-image: url("../img/interior/1.jpg"); */
	background:linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%),url("../img/interior/5.jpg");
	background-size: 121%;
    background-position: center center;
    background-repeat: no-repeat;
}
.interior-grid .grid-2{
	/* background-image: url("../img/interior/1.jpg"); */
	background:linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%),url("../img/interior/2.jpg");
	background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.interior-grid .grid-4{
	/* background-image: url("../img/interior/1.jpg"); */
	background:linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%),url("../img/interior/6.jpg");
	background-size: 150%;
    background-position: center center;
    background-repeat: no-repeat;
}
.interior-grid .grid-5{
	/* background-image: url("../img/interior/1.jpg"); */
	background:linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%),url("../img/interior/1.jpg");
	background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.interior-grid .grid-6{
	/* background-image: url("../img/interior/1.jpg"); */
	background:linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%),url("../img/interior/4.jpg");
	background-size: 114% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.interior-grid .grid-7{
	/* background-image: url("../img/interior/1.jpg"); */
	background:linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%),url("../img/interior/3.jpg");
	background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.photoshoot-grids{
	/* min-height: 1077px;
	max-height: 1077px; */
	padding: 28.1% 0;
	position: relative;
	width: 100%;
}
.photoshoot-grids .grid-1{
	background-image:url("../img/photoshoots/4.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
	width: 40.2%;
	height: 54.7%;
	left: 0;
	top: 0;
}
.photoshoot-grids .grid-2{
	background-image:url("../img/photoshoots/3.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
	width: 40.2%;
	top: 54.6%;
	left: 0;
	height: 45.3%;
}
.photoshoot-grids .grid-3{
	width: 26.8%;
	top: 0;
	left: 40.2%;
	height: 65.1%;
}
.photoshoot-grids .grid-4{
	width: 26.8%;
	top: 65.1%;
	left: 40.2%;
	height: 34.9%;
	background-image: none;
	background-color: var(--primary-color-concept);
}
.photoshoot-grids .grid-5{
	width: 33%;
	top: 0;
	left: unset;
	right: 0;
	height: 28.2%;
	background-image: none;
	background-color: var(--primary-color-concept);
}
.photoshoot-grids .grid-6{
	background-image:url("../img/photoshoots/1.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
	width: 33%;
	top: 28.2%;
	left: unset;
	right: 0;
	height: 52.9%;
}
.photoshoot-grids .grid-7{
	width: 33%;
	top: 81.1%;
	left: unset;
	right: 0;
	height: 18.9%;
	background-image: none;
	background-color: #b7b7b8;
}
.eventdecor-grid3 .grid-1{
	background-image:url("../img/eventdecor/16.jpg");
}
.eventdecor-grid3 .grid-2{
	background-image:url("../img/eventdecor/17.jpg");
}
.eventdecor-grid3 .grid-6{
	background-image:url("../img/eventdecor/18.jpg");
}
.eventdecor-grid4 .grid-1{
	background-image:url("../img/eventdecor/19.jpg");
}
.eventdecor-grid4 .grid-2{
	background-image:url("../img/eventdecor/20.jpg");
}
.eventdecor-grid4 .grid-6{
	background-image:url("../img/eventdecor/21.jpg");
}
.brandingdesign-grids3 .grid-1{
	background-image:url("../img/brandingdesign/2.jpg");
}
.brandingdesign-grids3 .grid-2{
	background-image:url("../img/brandingdesign/1.jpg");
}
.brandingdesign-grids3 .grid-6{
	background-image:url("../img/brandingdesign/4.jpg");
}

/* .prlinks-bx {
    background-color: #607973;
    width: 100%;
    display: flex;
    color: #fff;
    text-align: center;
    min-height: 200px;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
	padding: 0 7px;
}

.prlinks-bx-w{
	color: #000;
	background-color: #f5f5f5;
} */
.prlinks-bx {
    background-color: #eee;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.prlinks-bx h5 {
    background-color: var(--primary-color-concept);
    margin: 0;
    padding: 0 10px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-weight: 400;
	font-size: 16px;
}
.slider-concept3 .carousel-item img {
	max-width: unset;
}
.eapps-instagram-feed-header{
	margin-bottom: 0 !important;
	padding: 0 !important;
}
@media screen and (max-width: 1528px) {
	.navbar-concept .nav-item .nav-link {
		padding: 0 40px 3px 40px;
	}
	}
@media screen and (max-width: 1400px) {
	.navbar-concept .nav-item .nav-link {
		padding: 0 30px 3px 30px;
	}
	}
@media screen and (max-width: 1200px) {
.navbar-concept .nav-item .nav-link {
    padding: 0 20px 3px 20px;
}
}
@media screen and (max-width: 991px) {
.navbar-concept .nav-item .nav-link {
    padding: 8px 0;
    margin-bottom: 0;
}
	.navbar-concept .nav-item .nav-link::after {
		display: none;
	}
	.navbar-concept .navbar-collapse .navbar-nav{
	border-bottom: none;
}
	.d-none-676{
		display: none;
	}
	.grids .px-5{
		padding-left:  5px !important;
		padding-right: 5px !important;
	}
	.grid-body small {
		font-size: 9px;
	}
	.d-block-676{
		display: block;
	}
	.py-sm-ed{
		padding: 0 20px;
	}
	.introduction{
		padding-left: 12px;
		padding-right: 12px;
	}
	.standalone-btn{
		width: 50%;
	}
}
@media screen and (max-width: 767px) {
	/* .navbar-concept {
		margin-top: -97px;
	} */
	.h5, h5 {
    font-size: 0.8rem;
}
	.banner h6 {
    font-size: 17px;
}
	.banner h3 {
    font-size: 24px;
}
	.h4, h4 {
    font-size: 19px;
}
	.btn-subscribe {
    margin-top: -2px;
		margin-left: -5px;
}
.custom-input-subscribe {
    width: 50%;
    font-size: 11px;
    padding: 9px 5px;
}
	.text-left-m{
		text-align: left !important;
	}
	.client-box{
	width: 30px;
	height: 30px;
}
/*
	.py-sm-ed{
		padding: 0 50px;
	}
*/
	.text-center-m{
		text-align: center;
	}
/*
	.d-none-676{
		display: none;
	}
*/
	.gl-lg-items h1{
	font-size: 3rem;
}
	.gl-lg-items {
    min-width: 150px;
}
.search-text-end {
    position: absolute;
    width: 100%;
    text-align: center !important;
    z-index: 9;
    left: 0;
    top: 0;
    min-height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-concept .navbar-toggler {
    margin-top: -67px;
	position: relative;
    z-index: 99;
}
/* .header-logo {
    margin-bottom: 32px;
} */
.flex-wrap-no-wrap-mob{
	flex-wrap: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	padding-bottom: 30px;
	margin: 0 10px;
}
.flex-wrap-no-wrap-mob::-webkit-scrollbar {
    height: 12px;
	background-color: rgba(0, 0, 0, .1);
}

.flex-wrap-no-wrap-mob::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
}
.slider-concept2 {
    padding: 0 0;
}
.gl-ex-panel {
    padding: 0 0;
    min-height: 1599px;
}
.grid-1 {
    width: 100%;
	height: 23.6%;
	background-position: center;
}
.grid-5 {
    left: unset;
    top: 23.6%;
    width: 50%;
    height: 8.6%;
    right: 0;
}
.grid-6 {
    left: unset;
    top: 32.2%;
    width: 50%;
    height: 16.8%;
    right: 0;
}
.grid-7 {
    left: unset;
    top: 49%;
    width: 50%;
    height: 9.1%;
    right: 0;
}
.grid-3 {
    left: 0;
    top: 23.6%;
    width: 50%;
    height: 20.5%;
}
.grid-4 {
    left: 0;
    top: 44.1%;
    width: 50%;
    height: 14%;
}
.grid-2 {
    width: 100%;
    height: 17.6%;
    background-position: center;
    /* bottom: 0; */
    top: 58.1%;
}
.gl-mobid{
		max-height: 1230px;
}
}
@media screen and (max-width: 572px) {
.py-sm-ed{
	padding: 0 60px;
}
.gl-ex-panel {
    min-height: 1300px;
}
.standalone-btn{
	width: 100%;
}
}
@media screen and (max-width: 372px) {
	.search-text{
		width: 50% !important;
	}
.input-group-custom .form-control {
    font-size: 11px;
}
.search-text-end {
    left: 24px;
}
.social-links {
    width: 27px;
    height: 27px;
    line-height: 25px;
    margin-right: 7px !important;
}
	.search-text-end{
		text-align: center !important;
	}
	.gl-ex-panel {
		min-height: 1100px;
	}
}